body {
  font-family: "Cormorant Infant", serif;
}

.container {
  max-width: 1440px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  background-color: #40464F;
  padding-top: 50px;
}

.upper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__call-link {
  min-width: 192px;
  max-height: 70px;
  border: 1px solid #E1B168;
  background-color: transparent;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 20px 50px;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__call-link {
    display: none;
  }
}

.header__button--second {
  background-color: #E1B168;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 20px 50px;
  color: #292E36;
  border: none;
  min-width: 250px;
  max-height: 70px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__button--second {
    display: none;
  }
}

.header__logo {
  width: 290px;
  margin-bottom: 50px;
}

.lower-header {
  border-top: 1px solid #5c6168;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .lower-header {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__link {
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.nav__link:hover, .nav__link:focus .nav__link:active {
  color: #E1B168;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_link {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1), background 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social_link:hover, .social_link:focus, .social_link:active {
  background-color: #E1B168;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.9) 0px 22px 70px 4px;
  color: #ffffff;
}

.social_icon {
  fill: #ffffff;
}
.social_icon:hover, .social_icon:focus, .social_icon:active .social_icon {
  fill: currentColor;
}

.hero {
  background-color: #5c6168;
  padding-top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .hero-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title-wrap {
    width: 655px;
  }
}

.hero__title {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 26px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 100px;
  }
}

.hero__text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 35px;
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 20px;
  }
}

.hero__btn {
  padding: 10px 20px;
  width: 130px;
  border: 1px solid #E1B168;
  color: #E1B168;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 230px;
    padding: 20px 50px;
    font-size: 22px;
    margin-bottom: 0;
  }
}

.hero-img-wrap {
  position: relative;
}

.hero__img {
  width: 300px;
}
@media screen and (min-width: 1200px) {
  .hero__img {
    width: 655px;
  }
}

.hero__img--circle {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 150px;
}
@media screen and (min-width: 1200px) {
  .hero__img--circle {
    width: 300px;
    top: -25px;
    right: -35px;
  }
}

.location {
  padding-top: 50px;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .location {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.location__list {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 1200px) {
  .location__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.img__bg {
  border-radius: 50%;
  background-color: #292E36;
  width: 53px;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .img__bg {
    width: 83px;
    height: 83px;
  }
}

.location__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #292E36;
  margin-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  .location__title {
    font-size: 30px;
  }
}

.location__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #555555;
}
@media screen and (min-width: 1200px) {
  .location__text {
    font-size: 20px;
  }
}

.delicious-story {
  background-color: #FFF8F5;
  padding-top: 20px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .delicious-story {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .ds-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 45px;
  }
}

.ds__img {
  width: 290px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .ds__img {
    width: 700px;
    margin-bottom: 0;
  }
}

.ds__title--wrap {
  width: 290px;
}
@media screen and (min-width: 1200px) {
  .ds__title--wrap {
    width: 500px;
  }
}

.ds__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  -webkit-columns: #292E36;
     -moz-columns: #292E36;
          columns: #292E36;
  margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {
  .ds__title {
    font-size: 40px;
  }
}

.ds__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #555555;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .ds__text {
    font-size: 20px;
  }
}

.ds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ds__img--signature {
  width: 100px;
}
@media screen and (min-width: 1200px) {
  .ds__img--signature {
    width: 200px;
  }
}

.menu {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .menu {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .menu-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 100px;
  }
}

.menu--left {
  width: 290px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .menu--left {
    width: 400px;
    margin-bottom: 0;
  }
}

.menu--left__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  width: 60px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292E36;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .menu--left__uppertitle {
    font-size: 15px;
  }
}

.menu--left__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292E36;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .menu--left__title {
    font-size: 40px;
  }
}

.menu--left__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 0.1 0.5;
  letter-spacing: 0.2px;
  color: #555555;
  margin-bottom: 45px;
}

.menu--left__img {
  width: 290px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .menu--left__img {
    width: 398px;
    margin-bottom: 60px;
  }
}

.menu--left__btn {
  border: 1px solid #E1B168;
  color: #E1B168;
  padding: 10px 20px;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  min-width: 120px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .menu--left__btn {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .menu--left__btn {
    padding: 20px 50px;
    font-size: 22px;
    min-width: 250px;
  }
}

.menu--right {
  width: 290px;
}
@media screen and (min-width: 1200px) {
  .menu--right {
    width: 600px;
  }
}

.menu--right__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #292E36;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .menu--right__title {
    margin-bottom: 40px;
    font-size: 36px;
  }
}

.menu--right__list {
  margin-bottom: 30px;
}
.menu--right__list:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .menu--right__list {
    margin-bottom: 70px;
  }
}

.menu--right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.menu--right__item::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #aaaaaa;
  height: 1px;
}
@media screen and (min-width: 1200px) {
  .menu--right__item {
    width: 800px;
    margin-bottom: 50px;
  }
}

.menu--right__img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 53px;
  height: 53px;
}
@media screen and (min-width: 1200px) {
  .menu--right__img {
    width: 83px;
    height: 83px;
  }
}

.menu--right__name--wrap {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
}

.menu--right__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .menu--right__name {
    font-size: 30px;
  }
}

.menu--right__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
}
@media screen and (min-width: 1200px) {
  .menu--right__text {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

.menu--right__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .menu--right__price {
    font-size: 30px;
    right: 150px;
    bottom: 20px;
  }
}

.feedback {
  background-color: #292E36;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .feedback {
    padding-top: 140px;
    padding-bottom: 150px;
  }
}

.feedback__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  width: 100px;
  padding-top: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .feedback__uppertitle {
    font-size: 15px;
  }
}

.feedback__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .feedback__title {
    font-size: 40px;
  }
}

.feedback__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .feedback__text {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

.swiper-slide {
  width: 280px;
  background-color: #343942;
  margin-right: 25px;
  padding: 10px;
}
@media screen and (min-width: 1200px) {
  .swiper-slide {
    width: 550px;
    height: 300px;
    margin-right: 50px;
  }
}

.swiper-slide {
  max-width: 600px;
}

.slide__img--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #797e89;
}

.slide__icon {
  position: absolute;
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 1200px) {
  .slide__icon {
    width: 30px;
    height: 30px;
  }
}

.slide__img {
  width: 54px;
  height: 54px;
}
@media screen and (min-width: 1200px) {
  .slide__img {
    width: 84px;
    height: 84px;
  }
}

.slide__author--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

.slide__author {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .slide__author {
    letter-spacing: 0.2px;
    font-size: 30px;
  }
}

.slide__city {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #E1B168;
}
@media screen and (min-width: 1200px) {
  .slide__city {
    letter-spacing: 0.2px;
    font-size: 20px;
  }
}

.slide__text {
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .slide__text {
    letter-spacing: 0.2px;
    font-size: 25px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
  width: 7px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .swiper-button-prev,
.swiper-button-next {
    width: 27px;
    height: 44px;
  }
}

.bg {
  height: 900px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-image: url(../images/feedback/bg@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg {
    background-image: url(../images/feedback/bg@2x.jpg);
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .bg {
    display: none;
  }
}

.offers {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .offers {
    padding-top: 140px;
    padding-bottom: 120px;
  }
}

.offers-container {
  text-align: center;
}

.offers__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  width: 100px;
  padding-top: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292E36;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .offers__uppertitle {
    font-size: 15px;
  }
}

.offers__title, .item__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .offers__title, .item__title {
    font-size: 40px;
  }
}

.offers__text, .item__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .offers__text, .item__text {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

@media screen and (min-width: 1200px) {
  .offers__text {
    width: 760px;
    margin-right: auto;
    margin-left: auto;
  }
}

.item__text {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .offers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.offers__item {
  width: 290px;
  margin-bottom: 30px;
  padding: 20px;
}
.offers__item:first-child {
  background-image: url(../images/offers/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.offers__item:last-child {
  background-image: url(../images/offers/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .offers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 665px;
    max-height: 410px;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.offers__price__bg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .offers__price__bg {
    width: 270px;
  }
}

.price__img {
  margin-bottom: 30px;
  width: 100px;
}
@media screen and (min-width: 1200px) {
  .price__img {
    width: 160px;
  }
}

.price {
  position: absolute;
  top: 15px;
  left: 29px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .price {
    letter-spacing: 0.2px;
    font-size: 60px;
    left: 31px;
  }
}

.price--white {
  position: absolute;
  top: 15px;
  left: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .price--white {
    letter-spacing: 0.2px;
    font-size: 60px;
    left: 49px;
  }
}

.item__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #292E36;
  border-bottom: 1px solid #292E36;
  width: 200px;
  padding-top: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292E36;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .item__uppertitle {
    font-size: 15px;
  }
}

.offers__img {
  width: 220px;
}
@media screen and (min-width: 1200px) {
  .offers__img {
    width: 310px;
    height: 100%;
  }
}

.popular-dishes {
  padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .popular-dishes {
    padding-bottom: 60px;
  }
}

.popular-dishes-container {
  text-align: center;
}

.popular-dishes__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  width: 60px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292E36;
  margin-bottom: 12px;
  padding-top: 2px;
}
@media screen and (min-width: 1200px) {
  .popular-dishes__uppertitle {
    font-size: 15px;
  }
}

.popular-dishes__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .popular-dishes__title {
    font-size: 40px;
  }
}

.popular-dishes__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .popular-dishes__text {
    font-size: 20px;
    letter-spacing: 0.2px;
    width: 760px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .popular-dishes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.popular-dishes__item {
  margin-bottom: 15px;
  padding: 10px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item__img {
  width: 270px;
}
@media screen and (min-width: 1200px) {
  .item__img {
    width: 318px;
  }
}

.item__title--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(121, 126, 137, 0.4);
}

.item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .item__title {
    font-size: 30px;
  }
}

.item__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 0.2px;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .item__price {
    font-size: 30px;
  }
}

.popular-dishes__item__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .popular-dishes__item__text {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

.whatWeOffer {
  background-color: #292E36;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .whatWeOffer {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

.whatWeOffer-container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .whatWeOffer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 90px;
    text-align: left;
  }
}

.whatWeOffer__title--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.whatWeOffer__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  width: 180px;
  padding-top: 3px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 2px;
}
@media screen and (min-width: 1200px) {
  .whatWeOffer__uppertitle {
    font-size: 15px;
  }
}

.whatWeOffer__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .whatWeOffer__title {
    font-size: 40px;
  }
}

.whatWeOffer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .whatWeOffer__text {
    font-size: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .whatWeOffer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.whatWeOffer__item {
  border: 20px solid #323841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.whatWeOffer__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .whatWeOffer__item {
    width: 254px;
    height: 235px;
    margin-bottom: 0;
  }
}

.whatWeOffer__item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .whatWeOffer__item__text {
    font-size: 25px;
  }
}

.blog {
  padding-bottom: 50px;
  padding-top: 50px;
}
@media screen and (min-width: 1200px) {
  .blog {
    padding-bottom: 140px;
    padding-top: 140px;
  }
}

.blog-container {
  text-align: center;
}

.blog__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  width: 60px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292E36;
  margin-bottom: 12px;
  padding-top: 2px;
}
@media screen and (min-width: 1200px) {
  .blog__uppertitle {
    font-size: 15px;
  }
}

.blog__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .blog__title {
    font-size: 40px;
  }
}

.blog__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .blog__text {
    font-size: 20px;
    letter-spacing: 0.2px;
    width: 760px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .blog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.blog__item {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  padding: 20px;
}
.blog__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .blog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 715px;
  }
}

.blog__item--bg--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}
.blog__item--bg--left:first-child {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/blog/img1@1x.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/blog/img1@1x.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .blog__item--bg--left:first-child {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/blog/img1@2x.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/blog/img1@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .blog__item--bg--left {
    height: 354px;
  }
}

.blog__item--bg--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/blog/img2@1x.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/blog/img2@1x.jpg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .blog__item--bg--right {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/blog/img2@2x.jpg);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/blog/img2@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .blog__item--bg--right {
    height: 354px;
  }
}

.blog__btn {
  background-color: #E1B168;
  border: none;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.44px;
  color: #292E36;
}
@media screen and (min-width: 1200px) {
  .blog__btn {
    font-size: 22px;
    padding: 20px 50px;
  }
}

.blog__item--wrap {
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.blog__item__uppertitle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 30px;
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  margin-top: 40px;
  border-bottom: 1px solid #E1B168;
  min-width: 100px;
  padding-top: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292E36;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .blog__item__uppertitle {
    font-size: 15px;
  }
}
.blog__item__uppertitle:last-child {
  margin-right: 0;
}

.blog__item__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #292E36;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .blog__item__title {
    font-size: 30px;
  }
}

.blog__item__text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .blog__item__text {
    font-size: 20px;
    letter-spacing: 0.2px;
  }
}

.reservation {
  background-image: url(../images/reservation/IMAGE@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reservation {
    background-image: url(../images/reservation/IMAGE@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .reservation {
    height: 977px;
  }
}

.reservation-container {
  text-align: center;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .reservation-container {
    padding: 140px 260px;
  }
}

.form-wrap {
  background-color: rgba(41, 46, 54, 0.9);
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .form-wrap {
    padding: 140px 70px;
  }
}

.form__uppertitle {
  font-family: "Josefin Sans", sans-serif;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  width: 180px;
  padding-top: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__uppertitle {
    font-size: 15px;
  }
}

.form__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .form__title {
    font-size: 40px;
  }
}

.form {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .form {
    width: 640px;
  }
}

.form__input--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.form__input, .form__input--name {
  background-color: transparent;
  border: 1px solid #858585;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  outline: transparent;
}
.form__input:focus-within, .form__input--name:focus-within {
  border: 1px solid #858585;
}
@media screen and (min-width: 1200px) {
  .form__input, .form__input--name {
    padding-top: 18px;
    padding-left: 20px;
    padding-bottom: 18px;
  }
}

.form__input--name {
  min-width: 300px;
}
.form__input--name-input-placeholder {
  color: #FFFFFF;
}

.form__input {
  min-width: 196.5px;
}

.form-btn {
  background: #FFFFFF;
  color: #292E36;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 10px 20px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .form-btn {
    font-size: 22px;
    width: 242px;
    padding: 20px 50px;
  }
}/*# sourceMappingURL=main.css.map */