.location{
    padding-top: 50px;
    padding-bottom: 30px;

    @media screen and (min-width: 1200px){
            padding-top: 100px;
            padding-bottom: 60px;
    }
}


.location__list{
margin-bottom: 20px;
display: flex;
  justify-content: center;
flex-direction: column;
gap: 15px;

@media screen and (min-width: 1200px){

  align-items: center;
  justify-content: center;
  gap: 110px;
  flex-direction: row;
}
}
.location__item{
     display: flex;
  align-items: center;
  gap: 20px;
}

.img__bg{
    border-radius: 50%;
    background-color: $title-color;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px){
         width: 83px;
    height: 83px;
    }
}
.location__title{
    font-weight: 400;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.2px;
color: $title-color;
margin-bottom: 5px;
@media screen and (min-width: 1200px){
    font-size: 30px;
}

}

.location__text{
    font-weight: 400;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.2px;
color: $text-color;
@media screen and (min-width: 1200px){
    font-size: 20px;
}

}